.masthead-title {
  font-family: alexa-std, sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  color: #90ccc3;
}

.btn {
  border: 3px solid;
  border-color: #90ccc3;
  border-radius: 8px;
}

.btn-ghost {
  border: 3px solid;
  border-color: #90ccc3;
  border-radius: 8px;
  transition: all .2s linear;
  padding-top: .75em;
}

.btn-ghost:hover {
  background-color: #fff;
}

.recipetitle, .ingredients, .preparation {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.recipecontent, .list, .prep {
  font-family: adobe-caslon-pro, serif;
  font-weight: normal;
  font-style: normal;
}

.typetitle {
  font-family: alexa-std, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.typeh2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
}
